<div class="table__wrapper">
    <div class="table">
        <div class="table__header">
            <span class="table__cell">Mes</span>
            <span class="table__cell table__cell--centered"
                *ngFor="let tipus of resum.types">{{tipus.descripcio}}</span>
            <span class="table__cell table__cell--centered">Total</span>
        </div>
        <div class="table__item" *ngIf="!resum">
            <span class="table__cell table__cell--ghost"></span>
            <span class="table__cell table__cell--ghost" *ngFor="let tipus of resum.types"></span>
            <span class="table__cell table__cell--ghost"></span>
        </div>
        <div class="table__item" *ngFor="let line of resum.lines; index as i;">
            <span class="table__cell table__cell--featured">{{line.month}}</span>
            <span class="table__cell table__cell--centered"
                [ngClass]="{'table__cell--void': total.value.totalAmount==0, 'table__cell--disabled': (i > 4)}"
                *ngFor="let total of line.totals | keyvalue">{{total.value.totalAmount | currency: 'EUR'}}</span>
            <span class="table__cell table__cell--featured table__cell--centered">{{line.total}}</span>
        </div>
        <div class="table__footer">
            <span class="table__cell">Mitja</span>
            <span class="table__cell table__cell--centered"
                *ngFor="let stat of resum.stats | keyvalue">{{stat.value.totalAverage | currency: 'EUR'}}</span>
            <span class="table__cell">&ngsp; </span>
        </div>
        <div class="table__footer">
            <span class="table__cell">Total</span>
            <span class="table__cell table__cell--centered"
                *ngFor="let stat of resum.stats | keyvalue">{{stat.value.total | currency: 'EUR'}}</span>
            <span class="table__cell">&ngsp; </span>
        </div>
    </div>
</div>