<form [formGroup]="form">
    <div class="form">
        <div class="input-group">
            <label for="month">Mes</label>
            <select formControlName="month">
                <option value="">Tots els mesos</option>
                <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
            </select>
        </div>
        <div class="input-group">
            <label for="year">Any</label>
            <select formControlName="year">
                <option value="">Tots els anys</option>
                <option value="13">Ultims 12 mesos</option>
                <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
            </select>
        </div>
    </div>
</form>